@media only screen and (max-width: 1600px){
	.ion-navicon{
    display: none !important;
	}
}

@media only screen and (max-width: 1200px){
	.autoplay-image {
    min-height: 135px;
	}
}

@media only screen and (max-width: 1023px){
	
}

@media only screen and (max-width: 994px){
	.home-text h1 {
	    font-size: 238%;
	}

	.hero-image img {
    width: 70%;
	}
	
	.autoplay-image {
    min-height: 100px;
	}
	
}

@media only screen and (max-width: 767px){
	.autoplay-image {
    min-height: 70px;
	}

	.mobile-nav-icon{
    display: none;
    margin: 10px 0;
    margin-right: 5%;
	}
	
	nav .menu-nav{
		float: left;
		padding-left: 30px;
		display: none;
	}
	nav .menu-nav li{
		display: block;
	}

	.ion-navicon{
    display: block !important;
	}
}



@media only screen and (max-width: 480px){
	h2{
		font-size: 210%;
	}
	.address{
		font-size: 90% !important;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 374px){
	h2 {
    font-size: 170%;
	}
	.address{
		font-size: 80% !important;
		margin-bottom: 10px;
	}
}