/*global*/
/*color: #004b8e; primary*/ 
/*color: #fab1a0; secondary*/
body{
    background-color:#c0c0c0 !important;
    padding-left:5%;
    padding-right:5%;
}
#bodyCover{
    background-color:#ffffff !important;
    width:100%;
    height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: 'Muli';
}

h1, h2, h3, h5,h4, h6{
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
	font-weight: 300;	
}
h3{
	text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 280%;
    word-spacing: 4px;
    letter-spacing: 1.5px; 
}
h3:after {
    display: block;
    height: 3px;
    background-color: #004b8e;
    content: " ";
    width: 50px;
    margin: 0 auto;
    margin-top: 25px;
}


ul{
    list-style-type: none;
}

.clear-fix{
    clear: both;
}

.head-link{
    color: #000;
}
.head-link:hover{
    text-decoration: none;
    color: #000;
}
.head-link h2{
   font-weight: 600;
}
.display {
    display: block !important;
}
.form-control{
    color: #000 !important;
}
/***************/
/*top nav*/
/***************/
.top_nav{
    background-color: #2f506c;
}
.top_nav .navbar-light .navbar-nav .nav-link{
    color:#ddd;
}

/***************/
/*Form*/
/***************/
input[type="email"],input[type="text"], input[type="password"], input[type="submit"], input[type="date"]{
    border: solid 1px grey;
    border-radius: 3px;
    margin: auto 0;
    margin-bottom: 3%;
    padding: 3px 8px;
    font-size: 90%;
}

input[type="submit"]{
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
input[type="submit"]:hover{
    background: #b3abab;
}
/************************
******Site style***
************************/

/*top logo banner*/
.top-logo{
    margin-top:57px;
    background-color: #fff;
}

.social-icon, .contact{
    float:right;
    color: #fff;
}
.social-icon li{
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #444;
    line-height: 35px;
    border-radius: 50%;
}
.social-icon li a{
    color: #fff;
    display: block;
}

.contact li{
    text-align: center;
    list-style: none;
    line-height: 35px;
    border-radius: 50%;
    color:#888;
}
.map{
    overflow: hidden;
}
/********************
******navbar*******
*******************/
.navbar-brand {
    padding: 0;
}
.ion-ios-home{
    font-size: 150%;
}
.navbar{
    padding: 0 1rem !important;
}

.bg-light{
    background-color: #004b8e !important;
    color: #fff;
}
.navbar-nav li{
    padding: 2px 10px;
}
.navbar-nav li:hover{
    color: #fff;
}
.nav-link{
    /*font-weight:bolder;*/
    font-weight: 600;
}

.head-home{
    font-family: arial, sans-serif;
    margin-top: -5px;
    color:#dddddd !important;
}

.dropdown-menu{
    border-radius: 10px;
    color: #dddddd;
    background: #004b8e;
    padding-top: 0;
    
    /*transform: translateY(-100%);*/
    /*transition: 3s;*/
    margin-right: 5px;
    border: 0;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*menu hover effect*/
.dropdown:hover>.dropdown-menu {
  display: block;
  -moz-animation: fadeInDown .3s ease-in ;
    -webkit-animation: fadeInDown .3s ease-in ;
    animation:fadeInDown .3s ease-in ;
  color: #fff !important;
}


.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


.dropdown-item:hover, .dropdown-item:focus {
    color:#fff !important;
    border-radius: 10px;
    background: #004b8e !important;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
    color: #dddddd !important;
    
}

.form-control {
    height: calc(2.0rem + 2px);
}
    
 .img-responsive{
  display:block;max-width:100%;height:auto
}

/*carousel slider fix*/
.carousel-inner{
    height: 60vh;
}
.cs-img1{ background: url("img/1.jpg"); }
.cs-img2{ background: url("img/2.jpg"); }
.cs-img3{ background: url("img/11.jpg"); }
.cs-img6{ background: url("img/6.jpg"); }
.cs-img7{ background: url("img/7.jpg"); }
.cs-img8{ background: url("img/8.jpg"); }
.cs-img9{ background: url("img/9.jpg"); }
.cs-img10{ background: url("img/10.jpg"); }

.cs-img1, .cs-img2, .cs-img3, .cs-img6, .cs-img7, .cs-img8, .cs-img9, .cs-img10{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}


/*nav-tablist*/
.nav-tabs .nav-item{
    border: 1px solid #dadada;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.nav-link {
    padding: 16px;
        padding-right: 16px;
        padding-left: 16px;
    font-size: 13px;
    letter-spacing: 0.01rem;
    text-decoration: none;
    /*color: #dddddd !important;*/
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-tabs .nav-item .active{
    background-color: #004b8e;
    /*background-color: #fff;*/
    border: 1px solid #004b8e;
    color: #fff;
    font-weight: bold;
}

.hover-item{
    font-weight: bold;
}
.active-nav{
     color: #004b8e !important;
    background: #fff !important;
    border-radius: 5px;
}

.hover-item:hover, .hover-item:focus, .hover-item:active{
    color: #004b8e !important;
    background: #fff !important;
    border-radius: 5px;
    /*transform: scale(1.3,1.3);*/
    /*transition: 0.3s;*/
}

.tab-content{
    border: 1px solid #dadada;
    border-top: 0px;
    padding: 5px;
    height: 55vh;
    overflow: scroll;
    background: ivory;
}

.tab-mod{
    padding: 10px;
}

.tab-mod p{
    font-size: 95%;
}

.style-four {
    height: 10px;
    border: 0;
    background-color:#c0c0c0;
    margin:0 !important;
    padding:0 !important;
}
.border-right{
    border-right:10px solid #c0c0c0 !important;
}

/*about us*/
.about-image{
    background-image: url('img/about.jpeg');
    height: 100%;
    background-size: cover;
}


/*message*/
.message{
    background-color: #dcdcdc;
    border-top: 10px solid #c0c0c0;
    border-bottom: 10px solid #c0c0c0;
}

.message-title{
    text-transform: uppercase;
    font-size: 150%;
    border-bottom: 2px solid #dadada;
}
.message .container .row div .message-title{
    text-align:center;
}
.message-img, .testimonial-img{
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 25px;
}

.message-img img, .testimonial-img img{
    width: 100%;
}
.message-man{
    font-size: 120%;
    margin-bottom: 15px;
}



/*news*/
.latest_marquee_news{
    text-decoration:none;
    color:#000;
}
.latest_marquee_news:hover{
    color:red;
    cursor:pointer;
    text-decoration:none;
}
.ion-ios-paper, .ion-android-calendar{
    font-size: 150%;
}
.nepDay{
    background-color: #f3f3f3 !important;
    color:#000!important;
padding: 6px 0px;
margin: 0px;
text-align: center;
text-align: center;
font-weight: bold;
}

.news-list{
    border-bottom: 1px solid #dadada;
}

.news-img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.bg-event{
    background-color: #004b8e;
    color: #fff
}


/*testimonial*/
.testimonial{
    background-image: url('img/School.jpg');
    background-repeat: no-repeat;
    -webkit-background-size:auto ;
    background-size: auto;
    background-position: center;
    margin-right: 1vw;
    margin-left: 1vw;
    
    background-attachment: fixed;
    color: #fff !important;
}

.testimonial-overlay{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
  
}

.testimonial-img{
    border: 2px solid #fff;
    width: 100px;
    height: 100px;

}


/*footer*/
.footer{
    color: #fff;
    margin-top: 10px;
    width: 100%;    
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
}

.footer-overlay{
    background-image: linear-gradient(#004b8e,#c26276);
    
}

.footer-title{
    text-transform: uppercase;
    font-size: 140%;
    margin-bottom: 25px;
    
}

.footer-list{
    list-style: none;
}
.footer-list li{
    margin-bottom: 15px;
}

.footer-list li a{
    color: #fff;
}

.footer-list li div{
    margin-left: 20px;
}


/* *********************
*****pages***********
********************* */
.page-content{
    min-height: 50vh;
}



/* *********************
*****admin***********
********************* */
.admin-login{
    background-color: #dcdcdc;
    border-radius: 5px;
}
.bg-cms{
    background-color: #dcdcdc;
}
.cms-head{
    float: right;
}


.sidebar-wrapper li {
    padding: 10px 5px;
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
}
.sidebar-wrapper li:hover{
    background: #f3f3f3;
}

.sidebar-wrapper li a{
    text-decoration: none;
    color: #000;
    display: block;
}

.sidebar-wrapper  .post-li{
    padding: 0 0 0 10px;
    display: none;
}

.Copyright{
    background-color: #dcdcdc;
}
/*cms-body*/
.cms-body{
    background-color: #fff;
    min-height: 100vh;
}

.cms-title{
    padding-top: 20px;
    margin-bottom: 40px;
}

.cms-table-border{
    border: 1px solid #dcdcdc;
}

.autoplay-image img{
    width: 100%;
}
.autoplay-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    padding-bottom: 30px;
}


/*gallery*/
.gallert-li{
    display: inline-block;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 30%;
    overflow: hidden;
}
.gallery-img{
    height: 200px;
}


